.catalog{
    padding-bottom: 80px;
    &__tabs {
        display: block;
        margin: 0 auto;
        margin-top: 46px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        margin-bottom: 0;        
    }
    &__tab{        
        width: 222px;
        height: 52px;
        border: 2px solid #D0D0D0;
        text-align: center;
        text-transform: uppercase;
        line-height: 50px;
        font-weight: normal;
        font-size: 18px;
        color: #6B6B6B;
        transform: skewX(-25deg);        
        margin: 0 5px;
        cursor: pointer;
        transition: 0.4s all;
        div{
            transform: skewX(25deg);
        }
        &:hover{
            box-shadow: 4px 4px 15px#555555;
        }
        &_active{
            color:#fff;
            background-color: $main-color;
            border: none;
            &:hover{
                box-shadow: 4px 4px 10px red;
            }
        }
        
    }
    &__content{
        margin: 0 auto;
        margin-top: 57px;        
        display: none;
        flex-wrap: wrap;
        transition: 1s all;
        justify-content: center;
        &_active{
            display: flex;
        }
    }
    &-item{
        padding: 20px;
        width: 303px;
        min-height: 442px;
        border: 2px solid #E8E8E8;
        text-align: center;
        overflow: hidden;
        margin: 5px;
        &__img{
            height: 200px;
            max-width: 100%;
            display: block;
            margin: 0 auto; 
        }
        &__subtitle{
            font-weight: 900;
            font-size: 16px;
            margin-top: 15px;   
        }
        &__descr{
            font-weight: 300;
            font-size: 14px;
            margin-top: 15px;
        }
        &__link{
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: $main-color;
            &:hover {
                color: $main-color;
            }
        }
        &__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price{
            color: #555555;
            font-weight: 300;
            font-size: 14px;
            text-decoration-line: line-through;
        }
        &__price{
            font-weight: 900;
            font-size: 20px;
            line-height: 20px;
            color: #050505;
        }
        &__wrapper{
            display: flex;
            width: calc(200% + 40px);
        }
        &__content{
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active{
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list{
            margin-left: 20px;
            text-align: left;
            width: 50%;
            transform: translateX(0%);
            padding-right: 0px;
            transition: 0.5s all;
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;
            padding-top: 16px;
            
            &_active{
                transform: translateX(-100%);
                margin-left: 22px;
            }
            li{
                padding-bottom: 15px;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;                
                color: #555555;
                position: relative;
                &:before {
                   content: '';
                   position: absolute;
                   width: 5px;
                   height: 5px;                   
                   background-color: $main-color; 
                   top: 8px;
                   left: -15px;
                }
            }            
        }
        &__back{            
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(calc(-50% - 27px));
            text-decoration-line: underline;
            text-transform: uppercase;
            color: #C70101;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            &:hover{
                color: #C70101;
            }
        }
    }    
}