@media (max-width: 1200px) {

}
@media (max-width: 991px) {
    .container {
        max-width: 700px;
        margin: 0 auto;
    }
    .header {
        &__logo{
            width: 220px;
        }
    }
    .promo {
        min-height: 620px;
        &__wrapper {
            margin-top: 70px;
        }
        &__header {
            font-size: 34px;
            line-height: 35px;
        }
        &__subheader {
            margin-top: 12px;
            font-size: 18px;
        }
        &__icons {
            margin-top: 50px;
        }
        &__wrapper{
            justify-content: center;
            align-items:center;
        }
    }
    .button {
        &_main {
            width: 285px;
            font-size: 15px;
        }
    }
    .advanteges {
        padding-top: 50px;
        &__item {
            width: 220px;
        }
    }
}
@media ( max-width:767px) {
    .container {
        max-width: 550px;
        margin: 0 auto; 
    }
    .header{
        &__logo {
            width: 160px;
        }
        &__official {
            font-size: 11px;
            span{
                font-size: 16px;
            }
        }
        &__phone{
            font-size: 16px;
        }
    }
    .promo {
        min-height: 550px;
        padding-bottom: 50px;
        &__header {
            font-size: 26px;
        }
        &__subheader {
            font-size: 14px;
            margin-top: 0px;
        }
        &__icons {
            width: 335px;
            margin-top: 35px;
        }
        &__wrapper{
            justify-content: center;
            align-items:center;
        }
    }
    .button{
        width: 135px;
        height: 25px;
        font-size: 10px;
        &_main {
            width: 245px;
            height: 35px;
            font-size: 13px;
        }
        &_submit{
            height: 58px;
            width: 100%;
            font-size: 16px;
        }
        &_buy{
            height: 30px;
        }
    }
    .advanteges {
        &__wrapper{
            margin-top: 30px;
            flex-wrap: wrap;
            &:last-child {
                justify-content: center;
                img {
                    margin-top: 20px;
                }
            }
        }
    }
    .title{
        &_left{
            font-size: 28px;
            text-align: center;
        }
    }
    .consultation{
        padding: 60px 0  68px 0;
        &__descr{
            text-align: center;
        }
    }
    .feed-form{
        margin: 0 auto;
        margin-top: 25px;

    }
    .carousel{
        .slick-dots{
            button{
                height: 15px;
            }
        }
    }
    .catalog {
        &-item {
            width: 252px;
            &__old-price {
                font-size: 12px;
            }
            &__price {
                font-size: 14px;
            }
        }
    }
    .clients {
        &__img{
            margin-top: 15px;
        }
    }
    
}
@media (max-width: 575px) {
    .container{
        max-width: 310px;
    }
    .header{
        flex-direction: column;  
        justify-content: center;
        align-items: center;      
        &__logo{
            width: 220px;
        }
        &__official {
            margin-top: 15px;
            font-size: 12px;
            span{
                font-size: 16px;
            }
        }
        &__contacs{
            margin-top: 20px;
            align-items:center;
        }
    }
    .promo{
        &__wrapper{
            margin-top: 25px;
            justify-content: center;
            align-items:center;
        }
        &__header{
            font-size: 18px;
        }
        &__subheader{
            font-size: 12px;
        }
        &__icons{
            width: 280px;
            margin-top: 25px;
        }
    }
    .button{
        width: 185px;
        font-size: 12px;
        &_main{
            margin-top: 45px;
            width: 200px;
            font-size: 12px;
        }
        &_submit{
            height: 58px;
            width: 100%;
            font-size: 16px;
        }
    }
    .advanteges{
        &__header{
            font-size: 20px;
        }
        &__wrapper{
            flex-direction: column;
            justify-content: center;
            align-items:center;
        }
        &__item-description{
            font-size: 13px;
        }
    }
    .title{
        &_left{
            font-size: 20px;
            line-height: 25px;
        }
    }
    .consultation{
        min-height: 500px;
        &__descr{
            font-size: 14px;
            line-height: 20px;
        }
    }
    .feed-form{
        width: 200px;
        input{
            height: 40px;
        }
    }
    .button{
        &_submit{
            height: 40px;
            font-size: 13px;
        }
        &_buy {
            height: 40px;
            width: 145px;
        }
    }
    .carousel{
        .slick-dots{
            button{
                height: 15px;
            }
        }
    }
    .catalog {
        &__tabs {
            margin-top: 25px;
        }
        &__tab {
            display: table;
            transform: skewX(0);
            font-size: 13px;
            line-height: 13px;
            border-radius: 8px;
            width: 91px;            
            div {
                transform: skewX(0);
                display: table-cell;
                vertical-align: middle;
            }
        }
        &__content {
            margin-top: 30px;   
        }
        &-item {
            width: 300px;
            &__price{
                font-size: 16px;
            }
        }
    }
    .clients {
        &-item{
            flex-direction: column;
            justify-content: center;
            width: 320px;
        }
        &__wrapper {
            margin-top: 30px;
        }
        &__img{
            margin: 0 auto;
        }
        &__text {
            padding: 0 2git0px;
            text-align: center;
            margin-top: 15px;
        }
    }
    .title{
        font-size: 20px;
    }
}